<ion-header>
  <ion-toolbar>
    <ion-title>Contas a pagar</ion-title>
  </ion-toolbar>
</ion-header>
<ion-list class="ion-padding">
  <ion-item *ngFor="let conta of contas">
    <ion-label>
      <h2>{{conta.parceiroComercial}}</h2>
      <h3>R$ {{conta.valor}}</h3>
      <p>{{conta.descricao}}</p>
    </ion-label>
    <ion-item slot="end" name="trash" (click)="removerConta(conta)"></ion-item>
  </ion-item>
</ion-list>
<ion-content>
</ion-content>